<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kahlen.travelpal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    
    <!-- GCM -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.example.gcm.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:name="com.kahlen.travelpal.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
         <meta-data android:name="com.google.android.gms.version"
        android:value="5089000" />
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".account.AccountMainActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <activity
            android:name=".account.LoginAccountActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <activity
            android:name=".account.CreateAccountActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <activity 
            android:name=".DrawerActivity" />
        
        <activity 
            android:name=".chat.ChatActivity"
            android:windowSoftInputMode="stateHidden" />
                    
        <service android:name=".mqtt.MQTTService"/>
        
        <service android:name=".account.UserAccountService">
	        <intent-filter>
	            <action android:name="android.accounts.AccountAuthenticator"/>
	        </intent-filter>
	        <meta-data
	            android:name="android.accounts.AccountAuthenticator"
	            android:resource="@xml/authenticator" />
	    </service>
        
        <receiver android:name=".mqtt.MQTTServiceDelegate$MessageReceiver" >
            <intent-filter>
                <action android:name="com.kahlen.travelpal.MESSAGE_ARRIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".mqtt.MQTTServiceDelegate$ConnectionErrorReceiver">
            <intent-filter>
                <action android:name="com.kahlen.travelpal.CONNECTION_ERROR" />
            </intent-filter>
        </receiver>
        <receiver android:name=".utilities.ConnectivityUtils$IntenetStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".utilities.AccountUtils$AccountStateReceiver">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" />
            </intent-filter>
        </receiver>
        
        
        <!-- GCM -->
        <receiver
            android:name=".gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.kahlen.travelpal" />
            </intent-filter>
        </receiver>
        <service android:name=".gcm.GCMIntentService" />
        
        
    </application>

</manifest>
